
* {
    box-sizing: border-box; 
    /* tüm öğelerin genişlik ve yükseklik hesaplamalarına padding ve border'ı dahil ederek,
     öğelerin belirtilen boyutları aşmamasını sağlar. */
}


body {
    background-color: #f0f0f0 ; 
    font-family: "Playfair Display", serif;
    font-family: "Caveat", cursive;
    font-family: "Work Sans", sans-serif;
    font-family: "Poppins", serif;
    font-family: "PT Serif", serif;
    font-family: "Bona Nova SC", serif;
    font-family: "EB Garamond", serif;
}

#navbar {
    background-color: #f0f0f0;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between; /* Saat ve yazıları ayıran boşluk */
    align-items: center;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1); /* navbara gölgelendirme efekti vermek için  */
}

#clock-nav { /* menüdeki saat */
    font-family: "PT Serif", serif;
    font-size: 40px;
    font-weight: bold;
    color: #18605d;
    margin-left: 50px;
}

nav {
    display: flex;
    justify-content: flex-start; /* Yazıları solda hizalar */
    font-weight: bold;
}

nav a {
    font-family: "Poppins", sans-serif;
    color: #18605d;
    text-decoration: none;
    font-size: 18px;
    margin-right: 60px;
}

nav a:hover {
    color: #4a9d93;
}


/* Ana sayfa içeriği */
.content-home {
    display: flex;
    flex-direction: column; /* ögelerin alt alta sütün şeklinde sıralanmasını sağlıyor.*/
    justify-content: center; /* nesneleri ortalar*/
    text-align: center; /* texti ortalar */
    padding: 20px; 
}

.photo-content {
    margin-bottom: 20px;
}

#home-photo {
    width: 230px;
    height: 230px;
    border-radius: 50%; 
    object-fit: cover; /* resmin şekli tamamen doldurması için */
}


h1, h3, h5 {
    margin: 10px 0;  /* metinlerin 10px aşağıdan ve yukarıdan boşluğunu 0px soldan ve sağdan boşluğunu sağlar. */
}

h1 {
    font-size: 2.5em;
    font-family: "Caveat", cursive;
    color: #4a9d93;
}

h3 {
    font-size: 1.8em;
    font-family: "Playfair Display", serif;
    color: #333;
}

h5 {
    font-size: 1.0em;
    font-family: "PT Serif", serif;
    margin-top: 10px;
    color: #333;
}

#entry-text {
    margin-top: 20px;
    max-width: 450px; /* metni paragraf şeklinde sınırlandırmak için */
    font-size: 16px;
    color: #333;
    font-family: "EB Garamond", serif;
    text-align: center; /* metni ortalar. */ 
    margin-left: auto;  /* Otomatik olarak sola ve sağa boşluk ekler */ 
    margin-right: auto;
}


/* Hakkımda Sayfası */

#hide-button {
    background-color: #4a9d93; 
    color: white; 
    border: none; /* varolan kenarlığı kaldırır */
    border-radius: 8px; /* kenar yuvarlaklığı */
    padding: 9px 18px; /* yazıyla buton arasında iç boşluk bırakır */ 
    font-size: 12px; 
    cursor: pointer; /* fareyi getirdiğimiz zaman el işareti çıkar */
    transition: background-color 0.3s ease; /* renk geçişi için süre */
}

#hide-button:hover {
    background-color: #18605d ; 
}

.about-content {
    display: flex; 
    align-items: center; /* Dikey olarak ortala */ 
    
}

/* resmin konumunu ayarlama*/
#photo-about {
    margin-left: 200px;
    margin-top: 50px;
    margin-right: 50px;
    text-align: right; /* Resmi sağda hizalar */
}

/*Resim*/
#about-photo {
    width: 400px;
    height: 400px;
    border-radius: 50%;
    object-fit: cover; /* resmin şekli tamamen doldurması için */
}


.text-about {
    margin-right: 20px; /* Resim ile metin arasında 20 px boşluk olacak */
    text-align: left; /* Metni sola doğru hizalar */
}

#bio {
    margin-top: 20px;/* paragrafın üstten boşluğu */
    max-width: 620px; /* paragrafın sınır genişliği */
    font-size: 16px;
    color: #333;
    font-family: "EB Garamond", serif;
}


/* Portföyo Sayfası */

#portfolio-title {
    display: flex;
    justify-content: center; /* projelerim başlığını yatayda ortalar. */
}

.projects {
    margin-top: 50px;
    display: flex; /* projelerin yatayda sıralanmasını sağlar. */ 
    justify-content: center;
    gap: 20px;
}

.project {
    width: 400px;
    border: 3px solid #ddd;
    padding: 10px;
    border-radius: 5px;
}

.project:hover {
    background-color: #f7f7f7;
}

.project img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

.project h3 {
    font-size: 20px;
    margin: 10px 0;
    color: #4a9d93;
    font-family: "Work Sans", sans-serif;
}

.project p {
    font-size: 13px;
    color: #333;
    font-family:"poppins", serif;
}


/* İletişim Sayfası */
#background-opacity-contact {
    
    background: rgba(74, 157, 147, 0.2); /* nesnelerin arkasındaki kutunun renklendiirlmesi için*/ 
    padding: 30px;
    border-radius: 8px;
    height: 500px;
    width: 1000px;
    margin-top: 50px;
    margin-left: 300px;
}

#form-group {  /* form ögelerini kontrol eder*/
    width: 500px;
    float: right;
    height: 300px;
    text-align: left; /* sola hizalanma için*/
    margin-right: 20px;
    margin-top: 15px;
}

.form-control,
.form-control-email,
textarea {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    background-color: #f0f0f0;
    border-radius: 6px;
    margin: 10px;
    border: 3px solid #4a9d93;
    font-family: "Work Sans", sans-serif; 
}

input[type="submit"] {  /* gönderme butonu için */
    cursor: pointer;
    background-color: #f0f0f0;
    border: 3px solid #4a9d93;
    border-radius: 8px;
    font-size: 18px;
    padding: 8px 20px;
    font-family: "Work Sans", sans-serif;
    color: rgb(74, 157, 147);
    margin-left: 400px;
    margin-top: 10px;
}

.contact p { /* formun yanındaki metin yazısı  */
    margin-top: 110px;
    margin-left: 20px;
    font-size: 22px;
    color: #4a9d93;
    font-family: "Caveat", cursive;
}

.contact a {  /* sosyal medya hesaplarımın linki  */
    text-decoration: none;
    margin-top: 50px;
    margin-left: 20px;
    font-size: 18px;
    color: #4a9d93;
    font-family: "Work Sans", sans-serif;
}

